body
{
  margin: 0;
  background-color: #212121;
}
*:focus
{
  outline: none;
}
body button:hover {
  background-color: #4f9a94;
}
.grid
{
  display: grid;
  margin-top: 1%;
  justify-content: start;
  grid-template-columns: 0.5fr auto max-content;
  grid-template-rows: 100px repeat(2, max-content) auto;
  row-gap: 6%;
  column-gap: 2%;
  grid-template-areas:
    "logo logo ."
    "sidenav canvas settings"
    "sidenav canvas divider"
    "sidenav canvas findWay";
}
.logoHolder
{
  width: 100%;
  text-align: start;
  margin-left: 1%;
  grid-area: logo;
}
.sidenav {
  color: whitesmoke;
  background-color: transparent;
  font-size: 1.2em;
  grid-area: sidenav;
}
.canvas
{
  background-color: #484848;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  grid-area: canvas;
}
.roundedDivider
{
  place-self: center;
  width: 70%;
  border-top: 1px solid #80cbc4;
  border-radius: 10px;
  grid-area: divider;
}
.settings {grid-area: settings;}
.findWay {grid-area: findWay;}

.logoHolder img
{
  height: 100%;
}

.sidenav .menu 
{
  list-style: none;
  padding: 0px;
}
.sidenav a,
.sidenav a:visited
{
  display: block;
  margin: 16px 12px;
  padding: 10px 16px;
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.5s ease;
  position: relative;
}
.sidenav a:not(.current)::after
{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  width: 0;
  height: 2px;
  border-radius: 12px;
  transition: all .5s ease;
}
.sidenav a:not(.current):hover:after
{
  width: 100%;
}
.sidenav a.current 
{
  color: black;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  transition: all .5s ease;
}
.sidenav a.current:hover 
{
  color: whitesmoke;
  box-shadow: none;
}
.sidenav a.current::before
{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  z-index: -1;
  transition: all .5s ease;
}
.sidenav a.current:hover::before 
{
  width: 0;
  color: whitesmoke;
}

#start
{
  background-color: transparent;
}

.settings 
{
  width: 100%;
  height: min-content;
  color: white;
  font-size: 1.3em;
  align-content: center;
  text-align: center;
}
.settings>button 
{
  display: block;
  background-color: #80cbc4;
  color: black;
  padding: 12px 16px;
  margin: 16px 0px 0px 0px;
  width: 100%;
  font-size: 0.75em;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  cursor: pointer;
}

.findWayBtn
{
  width: 100%;
  color: black;
  font-size: 1.5em;
  background-color: #80cbc4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}
.findWayBtn:active
 {
  transform: scale(0.98);
}
