header
{
  width: 100%;
  height: 70px;
  background-color: #455a64;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
body
{
  background-color: #eceff1;
}
h1
{
	color: white;
	text-align: center;
}
.grid
{
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: max-content max-content auto;
  row-gap: 50px;
  column-gap: 30px;
  margin-top: 100px;
  margin-left: 80px;
  grid-template-areas: 
    "canvas inputK inputDist"
    "canvas generate generate"
    "canvas . .";
}
.clustersCanvas
{
	border: 2px dashed #455a64;
    grid-area: canvas;
}
.generate{grid-area: generate;}
.generateBtn
{
  width: 100%;
  color: white;
  font-size: medium;
  background-color: #455a64;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

}
.generateBtn:hover
{
  background-color: #364850;
}
