table {
	width: 650px;
	height: 650px;
	margin-top: 10px;
	border-collapse: collapse;

	tr td {
		border-color: black;
		border-style: solid;
		border-width: 2px;

		&:hover {
			background-color: yellow;  
		}

		&.elem {
			cursor: pointer;

			.el-grid {
				display: grid;
				grid-template-rows: min-content auto;
				min-height: 100%;
				pointer-events: none;

				.el-top {
					display: grid;
					grid-auto-flow: column;
				}

				.el-bottom {
					display: grid;
					align-self: end;
					grid-auto-flow: column;
				}

				.el-top, .el-bottom {
					pointer-events: none;

					.el-left, .el-right {
						padding: 5px;
						pointer-events: none;
						user-select: none;
					}

					.el-left {
						justify-self: start;
					}

					.el-right {
						justify-self: end;
					}
				}

			}

			&.start {
				background-color: green;
			}
            &.wall {
                background-color: gray;
            }
            &.finish {
                background-color: hotpink;
            }
		}

		background-color: rgb(41, 87, 87);
	}
}
p 
{
	color: rgb(255, 0, 0);
}
