table {
	width: 650px;
	height: 650px;
	margin-top: 10px;
	border-collapse: collapse;

	tr td {
		border-color: black;
		border-style: solid;
		border-width: 2px;

		&:hover {
			background-color: yellow;  
		}

		&.elem {
			cursor: pointer;

			.el-grid {
				display: grid;
				grid-template-rows: min-content auto;
				min-height: 100%;
				pointer-events: none;

				.el-top {
					display: grid;
					grid-auto-flow: column;
				}

				.el-bottom {
					display: grid;
					align-self: end;
					grid-auto-flow: column;
				}

				.el-top, .el-bottom {
					pointer-events: none;

					.el-left, .el-right {
						padding: 5px;
						pointer-events: none;
						user-select: none;
					}

					.el-left {
						justify-self: start;
					}

					.el-right {
						justify-self: end;
					}
				}

			}

			&.start {
				background-color: rgb(115, 255, 0);
  				background-image: linear-gradient(45deg, #d17878 25%, transparent 25%), linear-gradient(-45deg, #d17878 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #d17878 75%), linear-gradient(-45deg, transparent 75%, #d17878 75%);
			
			}
            &.wall {
                background-color: rgb(206, 206, 206);
            }
            &.finish {
                background-color: #9030b8;
  				background-image: linear-gradient(45deg, #d17878 25%, transparent 25%), linear-gradient(-45deg, #d17878 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #d17878 75%), linear-gradient(-45deg, transparent 75%, #d17878 75%);
			
            	}
		}

		background-color: rgb(41, 87, 87);
	}
}
p 
{
	color: rgb(255, 0, 0);
	background-color: #7FFFD4;
}
.zapusk
{
	color: #625772;
	background-color: #F9A1BC;
	border: none;
	border-radius: 10px;
	padding: 8px;
	font-size: 18px;
}
.setmode
{
	color: #625772;
	background-color: #F9A1BC;
	border: none;
	border-radius: 10px;
	padding: 8px;
	font-size: 18px;
}
