body
{
  margin: 0;
  background-color: #212121;
}
*:focus
{
  outline: none;
}
body button:hover {
  background-color: #4f9a94;
}
.grid
{
  display: grid;
  margin-top: 1%;
  justify-content: start;
  grid-template-columns: 0.5fr auto max-content;
  grid-template-rows: 100px repeat(4, max-content) auto;
  row-gap: 6%;
  column-gap: 2%;
  grid-template-areas:
    "logo logo ."
    "sidenav matrix inputN"
    "sidenav matrix generate"
    "sidenav matrix ends"
    "sidenav matrix walkType"
    "sidenav matrix findWay";
}
.logoHolder
{
  width: 100%;
  text-align: start;
  margin-left: 1%;
  grid-area: logo;
}
.sidenav {
  color: whitesmoke;
  background-color: transparent;
  font-size: 1.2em;
  grid-area: sidenav;
}
.matrixTable 
{
  position: relative;
  width: 650px;
  height: 650px;
  border-radius: 20px;
  background-color: #484848;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  border-collapse: collapse;
  grid-area: matrix;
}
.inputN
{
  place-self: center;
  width: max-content;
  color: black;
  background-color: #80cbc4;
  border: none;
  border-radius: 10px;
  padding: 4%;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  grid-area: inputN;
}
#nnum
{
  width: max-content;
  display: block;
  border: 1px solid #484848;
  border-radius: 8px;
  padding: 4px;
  margin: 4px 0px;
}
#nnum:disabled
{
  background-color: #808e95;
}
.roundedDivider
{
  place-self: center;
  width: 70%;
  border-top: 1px solid #80cbc4;
  border-radius: 10px;
  grid-area: divider;
}
.generate {grid-area: generate;}
.endPoints 
{
  display: flex;
  height: max-content;
  justify-content: space-between;
  grid-area: ends;
}
.walkType {grid-area: walkType;}
.findWay
{
  grid-area: findWay;
}

.logoHolder img
{
  height: 100%;
}

.sidenav .menu 
{
  list-style: none;
  padding: 0px;
}
.sidenav a,
.sidenav a:visited
{
  display: block;
  margin: 16px 12px;
  padding: 10px 16px;
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.5s ease;
  position: relative;
}
.sidenav a:not(.current)::after
{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  width: 0;
  height: 2px;
  border-radius: 12px;
  transition: all .5s ease;
}
.sidenav a:not(.current):hover:after
{
  width: 100%;
}
.sidenav a.current 
{
  color: black;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  transition: all .5s ease;
}
.sidenav a.current:hover 
{
  color: whitesmoke;
  box-shadow: none;
}
.sidenav a.current::before
{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  z-index: -1;
  transition: all .5s ease;
}
.sidenav a.current:hover::before 
{
  width: 0;
  color: whitesmoke;
}

.zapusk
{
  width: 100%;
  color: black;
  font-size: 1.3em;
  background-color: #80cbc4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}
.zapusk:active {
  transform: scale(0.98);
}

.endPoints>button 
{
  display: inline;
  background-color: #80cbc4;
  color: black;
  font-size: 1.1em;
  padding: 8px 12px;
  margin: 0 6px;
  width: 40%;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  cursor: pointer;
}

.walkType ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
	overflow: auto;
}
ul li
{
  color: #bdbdbd;
  position: relative;
  width: 100%;
}
ul li input[type=radio]
{
  position: absolute;
  visibility: hidden;
}
ul li label
{
  display: block;
  position: relative;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 12px 0 12px 44px;
  margin: 10px 0;
  height: 20px;
  z-index: 9;
  cursor: pointer;
  transition: all .5s ease;
}
ul li:hover label
{
	color: #fff;
}
ul li .check
{
  position: absolute;
  border: 3px solid #bdbdbd;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 11px;
  left: 10px;
	z-index: 5;
	transition: border .5s ease;
}
ul li:hover .check
{
  border: 3px solid #fff;
}
ul li .check::before 
{
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: all .5s ease;
}
input[type=radio]:checked ~ .check 
{
  border: 3px solid #80cbc4;
}

input[type=radio]:checked ~ .check::before
{
  background: #80cbc4;
}

input[type=radio]:checked ~ label
{
  color: #80cbc4;
}

.hiddenbut
{
  width: 100%;
  color: black;
  font-size: 1.4em;
  background-color: #80cbc4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}
.hiddenbut:active {
  transform: scale(0.98);
}

table tr td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background: #b0bec5;
}

table tr td:hover {
  background: #ffd54f;
}

table tr td.elem {
  cursor: pointer;
}

table tr td.elem.start {
  background: #ff7043;
}

table tr td.elem.wall {
  background: #484848;
}

table tr td.elem.finish {
  background: #66bb6a;
}

.notopen
{
  background: #ffd54f;
}

.open
{
  background: #00E0FF
}