td:hover
{
 background-color: rgb(151, 41, 41);
}
tr td
{
    border-color: black;
    border-style: solid;
    border-width: 2px;
}
td
{
    background-color: aqua;
}
table{
    width: 650px;
    height: 650px;
    margin-top: 10px;
    border-collapse: collapse;
}