.mainHeader
{
  width: 100%;
  height: 70px;
  background-color: #40a99ddb;
<<<<<<< HEAD
  background-image: url("img/nightsky.jpg");
=======
>>>>>>> origin/Liza
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.indexBody
{
background-color: #cecfdfdb;
}
.command 
{
  position: fixed;
  left: 85%;
  top: 80px;
  color: rgba(53, 58, 57, 0.859);
  border-left: 2px solid blueviolet;
}
.nav
{
  position: fixed;
  margin-top: 80px;
  font-size: 20px;
  color:  rgb(49, 49, 110);
}
.list{
  color: blue;
}
.commandHeader
{
  padding-left: 8px;
}
.commandList
{
  margin: 10px;
  padding-left: 15px;
}
h1{
  color: rgb(255, 255, 255);
}