.mainHeader
{
  color: whitesmoke;
  width: 100%;
  height: 70px;
}
.indexBody
{
  margin: 0;
  background-color: #212121;
}
.cardsFlexbox
{
  display: flex;
  margin: 0% 20%;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}
.cardLink
{
  width: 24%;
  height: 20%;
  margin: 4% 2%;
  text-decoration: none;
  text-align: center;
}
.card
{
  background-color: #323232;
  color: whitesmoke;
  overflow: hidden;
  border-radius: 16px;
  font-size: 1.35em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  transition: all .5s ease;
}
.card:hover
{
  transform: scale(1.02);
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.6);
}

.card .imageHolder
{
  position: relative;
  overflow: hidden;
}
.card .imageHolder::before
{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(transparent, #323232);
  transition: all .5s ease;
}
.card:hover .imageHolder::before 
{
  opacity: 0;
}

.card img
{
  width: 100%;
  height: 100%;
  transition: all .5s ease;
}
.card:hover img
{
  transform: scale(1.3);
}

h1{
  padding-left: 20px;
  color: white;
}