header
{
  width: 100%;
  height: 70px;
  background-color: #455a64;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
body
{
background-color: #eceff1;
}
h1
{
	color: white;
	text-align: center;
}
canvas
{
  margin-top: 100px;
  margin-left: 40px;
	border: 2px dashed #455a64;
}