body
{
  margin: 0;
  margin-bottom: 7%;
  background-color: #212121;
}
*:focus,
*:active
{
  outline: none;
}
body button:hover {
  background-color: #4f9a94;
}
.grid
{
  display: grid;
  margin-top: 1%;
  justify-content: start;
  grid-template-columns: 0.2fr auto auto 1.5fr;
  grid-template-rows: 100px max-content auto;
  row-gap: 6%;
  column-gap: 2%;
  grid-template-areas:
    "logo logo . ."
    "sidenav tree tree paths"
    "sidenav data input paths";
}
.logoHolder
{
  width: 100%;
  text-align: start;
  margin-left: 1%;
  grid-area: logo;
}
.sidenav 
{
  color: whitesmoke;
  background-color: transparent;
  font-size: 1.2em;
  grid-area: sidenav;
}
.treeContainer
{
  width: max-content;
  min-width: 800px;
  height: max-content;
  min-height: 400px;
  background-color: #484848;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  grid-area: tree;
}
.pathsContainer
{
  grid-area: paths;
}
.inputContainer {grid-area: input;}
.dataContainer {grid-area: data;}

.logoHolder img
{
  height: 100%;
}

.sidenav .menu 
{
  list-style: none;
  padding: 0px;
}
.sidenav a,
.sidenav a:visited
{
  display: block;
  margin: 16px 12px;
  padding: 10px 16px;
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.5s ease;
  position: relative;
}
.sidenav a:not(.current)::after
{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  width: 0;
  height: 2px;
  border-radius: 12px;
  transition: all .5s ease;
}
.sidenav a:not(.current):hover:after
{
  width: 100%;
}
.sidenav a.current 
{
  color: black;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  transition: all .5s ease;
}
.sidenav a.current:hover 
{
  color: whitesmoke;
  box-shadow: none;
}
.sidenav a.current::before
{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  z-index: -1;
  transition: all .5s ease;
}
.sidenav a.current:hover::before 
{
  width: 0;
  color: whitesmoke;
}

#treeBtn,
#predictBtn,
.uploadLabel
{
  display: block;
  width: max-content;
  color: black;
  font-size: 1.3em;
  background: #80cbc4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}
#treeBtn:active,
#predictBtn:active 
{
  transform: scale(0.98);
}
#treeBtn:hover,
#predictBtn:hover,
.uploadLabel:hover
{
  background: #4f9a94;
}
#treeBtn:disabled,
#predictBtn:disabled
{
  cursor: default;
  color: #757575;
  background: transparent;
  border: 2px dashed #757575;
}
#upload{display: none;}

#fileName 
{
  min-width: 100px;
  min-height: 20px;
  display: inline-block;
  color: whitesmoke;
  font-size: 1.3em;
  text-align: center;
  padding: 4px 16px;
  border-radius: 10px;
  border: 1px dashed #80cbc4;
}

.tree,
.tree ul,
.tree li 
{
  color: #e0e0e0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tree 
{
  margin: 2em 0 1em;
  text-align: center;
}

.tree,
.tree ul 
{
  display: table;
}

.tree ul 
{
  width: 100%;
}

.tree li 
{
  display: table-cell;
  padding: .5em 0;
  vertical-align: top;
}

.tree li:before 
{
  border-bottom: solid 2px #e0e0e0;
  content: "";
  font-size: 1.25em;
  color: #9e9e9e;
  left: 0;
  position: absolute;
  right: 0;
  top: -1.1em;
}

.tree li:first-child:before 
{
  content: 'yes';
  text-align: start;
  left: 50%;
}

.tree li:last-child:before 
{
  content: 'no';
  text-align: end;
  right: 50%;
}

.tree>li:last-child:before 
{
  content: '';
}

.tree span 
{
  border: solid .1em #e0e0e0;
  background: transparent;
  font-size: 1.3em;
  border-radius: .2em;
  display: inline-block;
  margin: 0 1em 1.5em;  /* changing height/width of tree */
  padding: .2em .5em;
  position: relative;
  transition: all .27s ease;
}

.tree span.colored 
{
  background: #80cbc4;
}

.tree span.coloredTerminal 
{
  background: #7FAF5C;
}

.tree ul:before,
.tree span:before 
{
  outline: solid 1px #e0e0e0;
  content: "";
  left: 50%;
  position: absolute;
}

/* next 2 selectors is for changing heights of tree's edges */
.tree ul:before 
{
  height: 1.9em;
  top: -1.9em;
}

.tree span:before 
{
  height: .3em;
  top: -.4em;
}

.tree>li 
{
  margin-top: 0;
}

.tree>li:before,
.tree>li:after,
.tree>li>span:before 
{
  outline: none;
}